<footer class="border-top mt-5 py-3">

        <div class="container-fluid">

            <div class="d-flex justify-content-between align-items-center flex-wrap">


                <!-- Copyright -->

                <div class="d-flex align-items-center gap-2">

                    <span class="material-symbols-outlined">
                        copyright
                    </span>

                    <small class="mb-0">
                        2026 Planificador de Tareas. Todos los derechos reservados.
                    </small>

                </div>


                <!-- Redes -->

                <div class="d-flex align-items-center gap-4">


                    <a href="https://github.com/dargarciacol"
                        target="_blank"
                        class="text-decoration-none d-flex align-items-center gap-2">

                        <span class="material-symbols-outlined">
                            code
                        </span>

                        <span>
                            GitHub
                        </span>

                    </a>


                    <a href="https://www.linkedin.com/in/santiagogarcia-backend-developer-python-django-nodejs-java-restapi-mongodb-mysql"
                        target="_blank"
                        class="text-decoration-none d-flex align-items-center gap-2">

                        <span class="material-symbols-outlined">
                            business_center
                        </span>

                        <span>
                            LinkedIn
                        </span>

                    </a>

                </div>

            </div>

        </div>

    </footer>
