<header>

        <nav class="navbar bg-white border-bottom shadow-sm py-3">

            <div class="container-fluid">

                <a href="./index.html" class="navbar-brand d-flex align-items-center gap-3">

                    <img src="./assets/images/img1.svg"
                        alt="Logo"
                        width="48"
                        height="48">

                    <h3 class="m-0 fw-semibold">
                        Planificador de Tareas
                    </h3>

                </a>

                <div class="d-flex align-items-center gap-3">

                    <div class="input-group">

                        <span class="input-group-text bg-white">

                            <span class="material-symbols-outlined">
                                search
                            </span>

                        </span>

                        <input
                            type="text"
                            class="form-control"
                            placeholder="Buscar tarea...">

                    </div>

                    <button class="btn btn-light border rounded-circle">

                        <span class="material-symbols-outlined">
                            dark_mode
                        </span>

                    </button>

                    <div class="d-flex align-items-center gap-2 border rounded-pill px-3 py-2">

                        <span class="material-symbols-outlined">
                            account_circle
                        </span>

                        <span class="fw-medium">
                            Santiago
                        </span>

                        <span class="material-symbols-outlined">
                            keyboard_arrow_down
                        </span>

                    </div>

                </div>

            </div>

        </nav>

    </header>
